<%@ Master Language="C#" MasterPageFile="~/masterpages/PageBase-TopBottom.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="Middle" runat="server">
	<div class="row">
		<div class="col-md-8">
			<h1><umbraco:Item runat="server" field="header" /></h1>
			<umbraco:Item runat="server" field="content" />
		</div>
		<div class="col-md-4">
			<umbraco:Image runat="server" field="image" class="pull-right img-thumbnail"/>
		</div>
	</div>
</asp:content>